node_modules
media
ssl
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
web_out.log
web_err.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# local .env files
.env.local*
.env